.space-buttons {
  flex: 1 1 auto;
}

mat-toolbar{
background-color: #003973;
}

span{
color: rgb(197, 225, 249);
}button{
  margin: 2px;
  color: #d3cfcf;
  background-color: #003973;

}
.button-container {
  margin: 20px;
}

.button-container button {
  margin-right: 10px;
}



