<mat-toolbar color="primary">
  <span>
    Kizimbani WebApp
  </span>

  <span class="space-button"></span>
  <!-- <button mat-raised-button routerLink="/register" routerLinkActive="active" color="primary">
    register
  </button> -->
  <button  mat-raised-button *ngIf="! isLoggedIn()" routerLink="/login" routerLinkActive="active" color="primary">login</button>

   <button mat-raised-button *ngIf="isLoggedIn()" (click)="clearToken()" color="warn">
    Logout
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">

    <button mat-flat-button routerLink="/" color="primary">Home</button>
    <button *ngIf=" role === 'ADMIN'" mat-flat-button routerLink="/product" color="primary">Add New Product</button>
    <button *ngIf=" role === 'ADMIN'" mat-flat-button routerLink="/product-details" color="primary">Product Details</button>
    <!-- <button *ngIf=" role === 'USER'" mat-flat-button routerLink="/" color="primary">Home</button> -->
<ng-container>

</ng-container>
</mat-toolbar>
