<div class="container mt-5">
  <div class="card p-2">
    <div class="row">
      <div class="col-6">
        <form #productForm="ngForm" (ngSubmit)="addNewProduct(productForm)">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Product Name" [(ngModel)]="product.productName" name="name">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Product description" [(ngModel)]="product.productDescription" name="description">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>ActualPrice</mat-label>
            <input matInput placeholder="Product actualPrice" [(ngModel)]="product.productActualPrice" name="actualPrice">
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>DiscountPrice</mat-label>
            <input matInput placeholder="Product discountPrice" [(ngModel)]="product.productDiscountedPrice"
              name="discountedPrice">
          </mat-form-field>

          <div align="end">
            <button mat-stroked-button color="primary" style="margin-right: 5px;">Clear</button>
            <button type="submit" mat-stroked-button *ngIf="isNewProduct" color="primary">Add Product</button>
            <button type="submit" mat-stroked-button *ngIf="!isNewProduct" color="primary">Update Product</button>
          </div>
        </form>
      </div>
      <div class="col-6">

        <div>
          <div class="dropzone">
            <div class="text-wrapper" appDrag (files)="onFileDropped($event)">
              <div class="centered">
                Drag and drop your file or
                <a (click)="selectFile.click()" class="browse-button">browse</a>
                a file
              </div>

            </div>
          </div>
          <input type="file" #selectFile style="display: none;" multiple (change)="onFileSelected($event)">
        </div>

        <div class="mt-5">
          <div class="image-gallery">
            <div class="image-container" *ngFor="let image of product.productImages; let i = index;">
              <span class="btn-remove-image" (click)="removeImage(image)">X</span>
              <img [src]="image.url" [alt]="image.file.name">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
